[submodule "templates/template-bot"]
	path = templates/template-bot
	url = https://github.com/marius-patrik/template-bot.git
	branch = main
[submodule "templates/template-cli"]
	path = templates/template-cli
	url = https://github.com/marius-patrik/template-cli.git
	branch = main
[submodule "templates/template-repo"]
	path = templates/template-repo
	url = https://github.com/marius-patrik/template-repo.git
	branch = main
[submodule "templates/template-web"]
	path = templates/template-web
	url = https://github.com/marius-patrik/template-web.git
	branch = main
